 html{
	height: 100%;
	width: 100%;
	margin: 0;
}
body{
	margin: 0;
	color: #000000;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	line-height: normal;
	background: #ffffff;
	position: relative;
	width: 100%;
	min-height: 100%;
	min-width: 320px;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
	visibility: hidden;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 20px 0;
}
h2{
	font-size: 40px;
	line-height: 46px;
	font-weight: 600;
	color: #e1524b;
	text-transform: uppercase;
}
h2 span {

}
p {
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	color: #7f8c8c;
}
img{
	display: block;
	max-width: 100%;
}

/*== buttons
---------------------------------*/
button{
	margin:0;
	padding:0;
	border:none;
	background:none;
	cursor:pointer;
	overflow:visible;
	width:auto;
	outline: none;
}
button:hover , button:focus , button:active{
	outline: none;
}
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
.button{
	display: block;
	position: relative;
	width: 355px;
	height: 48px;
	background: transparent;	
	color: #fefefe;
	font-size: 24px;
	line-height: 26px;
	font-weight: 300;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.button:before{
    position: absolute;
    top: -11px;
    left: -13px;
    content: "";
    width: 368px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:after{
	position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 366px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s;
}
.button:hover{
	background: #384245;
	transition: 0.3s;
}
button:active,
button:focus{
	outline: none;
}

/*== inputs
---------------------------------*/
input{
	outline: none;
	border: none;
}
.b-input-text{
	width: 100%;
	height: 45px;
	background: transparent;
	padding: 0 30px 0 11px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #646464;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	border-bottom: 1px solid #e0e0e0;;	
}
.b-input-text.error{
	border-color: red !important;
}
.b-input-text.valid{
	border-color: #219653 !important;
}

.btn{
	border: 1px solid #d4b188;
	transition: 0.3s;
}
.btn:hover{
	background: #d4b188;
	transition: 0.3s;
	color: #ffffff;
}

select{
	outline: none;
}
.b-select{
	width: 100%;
	height: 54px;
	border: 1px solid #d6dfcc;    
	color: #323232;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;    
	background: #ffffff url(../images/select-arrow.png);
	background-position: right 15px center;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none !important;        
}
.b-input-text{
	outline: none;  
}
textarea{
	height:80px;
	outline: none;
}
.fancybox-enabled{
	padding: 0 17px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-container{

}
.fancybox-container{
	z-index: 999999;
}

/* End Total css ====*/

/* -------------- page index -------------- */
.b-header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 30px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-header > .container > .row > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-logo{
	display: block;
	margin: 0 75px 0 0;
}
.b-header-right{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
}
.b-nav{
	width: 100%;
}
.b-nav ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	border-bottom: 1px solid #d8d8d8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-nav ul li{
	list-style: none;
	margin: 0 0 -1px 0;
}
.b-nav ul li a{
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #7b7b7b;
	padding: 9px 13px 12px 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #d8d8d8;
	transition: 0.3s;
	text-decoration: none;
}
.b-nav ul li.active a{
	color: #c3a077;
	border-color: #c3a077;	
	transition: 0.3s;
}
.b-nav ul li a:hover{
	transition: 0.3s;
	color: #c3a077;
	border-color: #c3a077;	
	text-decoration: none;
}
.b-nav ul li a:active , .b-nav ul li a:focus{
	text-decoration: none;
}
.b-cart{
	position: relative;
	flex-shrink: 0;
	border-left: 1px solid #d8d8d8;
	padding: 6px 0 6px 45px;
	margin: 0 0 0 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-cart__numb{
	position: absolute;
    top: 4px;
    right: -8px;
	width: 18px;
	height: 18px;
	background: #d4b188;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;	
	color: #ffffff;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
}
.b-cart__ico{
	background: url(../images/shopping-bag.svg) no-repeat;
	width: 23px;
	height: 28px;
	display: block;
}
/* -------------- b-main -------------- */
.b-main{
	position: relative;
}
.b-main-item{
	background-size: cover !important;
}
.b-main-item__content{
	margin: 310px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.b-main-item__content strong{
	color: #d9d9d9;
	font-size: 44px;
	font-weight: 100;
	line-height: 46px;
	position: absolute;
    top: -26px;
    left: 8px;
	z-index: 1;
}
.b-main-title{
	color: #c7a378;
	font-size: 32px;
	font-weight: 700;
	line-height: 34px;
	text-transform: uppercase;
	margin: 0;
	position: relative;
	z-index: 2;
}
.b-main-item__content p{
	color: #554c55;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	max-width: 391px;
	margin: 20px 0 25px 0;
}
.b-main-item__wrap{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.btn-main{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 24px;
	color: #554c55;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
    padding: 14.5px 42px;
}
.b-social{
	margin: 0 0 0 18px;
}
.b-social ul{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	margin: 0;
}
.b-social ul li{
	list-style: none;
}
.b-social ul li a{
	color: #c7a378;
	font-size: 16px;
	line-height: 18px;
	display: block;
	padding: 10px 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    border-right: 1px solid rgba(138, 138, 138, 0.4);
}
.b-social ul li:last-child a{
	border: none;
}
.b-main .slick-dots{
	position: absolute;
	top: 0;
	left: 22px;
	height: 100%;
	z-index: 100;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.b-main .slick-dots li{
	list-style: none;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.b-main .slick-dots li:after{
	content: "";
	width: 1px;
	height: 9px;
	opacity: 0.51;
	background: white;
	margin: 6px auto 6px;
	display: block;	
	transition: 0.3s;
}
.b-main .slick-dots li button{
	position: relative;
	width: 3px;
	height: 3px;
	opacity: 0.51;
	background: #ffffff;	
	border-radius: 100%;
	text-indent: -9999px;
}
.b-main .slick-dots li.slick-active button{
	width: 8px;
	height: 8px;
	background: #cea556;
	opacity: 1;
	transition: 0.3s;
}
.b-main .slick-dots li.slick-active:after{
	height: 65px;
}
.b-main .slick-dots li:last-child:after{
	display: none;
}
.b-main-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: rgba(203, 172, 133, 0.9);
	padding: 28px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-bottom > .container > .row > div{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.b-main-bottom__item{
	display: flex;
	justify-content: center;
	align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.32);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 133px 4px 0;
    margin: 0 133px 0 0;
}
.b-main-bottom__item:first-child{
	padding-left: 25px;
}
.b-main-bottom__item:last-child{
	border: none;
	padding: 4px 0;
	margin: 0;
}
.b-main-bottom__item__ico{
	width: 28px;
	margin: 0 25px 0 0;
}
.b-main-bottom__item__text{

}
.b-main-bottom__item__text span{
	display: block;
	color: #ffffff;
	font-family: 'Evolventa-Regular';;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;	
}
.b-main-bottom__item__text a{
	display: block;
	color: #ffffff;
	font-family: 'Evolventa-Regular';
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;	
}
/* -------------- b-about -------------- */
.b-about{
	padding: 65px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-about-top{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-about-img{
	position: relative;
	width: 490px;
	height: 490px;
	border: 5px solid #d4b188;
	box-shadow: 2.5px 1.7px 29px rgba(179, 169, 179, 0.35);	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	flex-shrink: 0;
	margin: 0 55px 0 0;
}
.b-about-img:before{
	position: absolute;
    top: -30px;
    left: -58px;
	content: "";
	width: 645px;
	height: 533px;
	background: url(../images/about-bg.png) center top no-repeat;
}
.b-about-img img{
	position: absolute;
	bottom: 0;
	left: 80px;
}
.b-about-text{
	padding: 13px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-about-title{
	margin: 0 0 25px 0;
	position: relative;
}
.b-about-title b{
	display: block;
	color: #554c55;
	font-size: 26px;
	font-weight: 700;
	line-height: 28px;
}
.b-about-title span{
	position: absolute;
	top: 0px;
    left: 12px;
	opacity: 0.16;
	color: #554c55;
	font-size: 36px;
	font-weight: 100;
	line-height: 38px;
}
.b-about-text p{
	color: #554c55;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.b-about-content{
	margin: 50px 0;
}
.b-about-content > .row{
	justify-content: center;
}
.b-about-item{
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #f6eee6;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-about-content > .row > div:last-child .b-about-item{
	border: none;
}
.b-about-item__img{
	flex-shrink: 0;
	margin: 0 20px 0 0;
}
.b-about-item__text{

}
.b-about-item__text b{
	display: block;
	color: #554c55;
	line-height: 18px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;	
	margin: 0 0 5px 0;
}
.b-about-item__text span{
	display: block;
	color: #554c55;
	line-height: 15px;	
	font-size: 13px;
	font-weight: 400;
}

.b-about-photo{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.b-about-photo__left{
	width: 50%;
}
.b-about-photo__item{
	display: block;
}
.b-about-photo__right{
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}
.b-about-photo__right .b-about-photo__item{
	width: 50%;
	height: 49.6%;
	object-fit: cover;
}
.b-about-photo__right .b-about-photo__item img{
	object-fit: cover;
	height: 100%;
}
/* -------------- b-course -------------- */
.b-course{
	padding: 50px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.b-title{
	text-align: center;
	margin: 0 0 0px 0;
}
.b-title-item{
	color: #554c55;
	font-size: 26px;
	font-weight: 700;
	line-height: 28px;
	text-transform: none;
	margin: 0 0 30px 0;
}
.b-title span{
	position: absolute;
	top: -4px;
    left: -5px;
	opacity: 0.16;
	color: #554c55;
	font-size: 36px;
	font-weight: 100;
	line-height: 38px;
	width: 100%;
	text-align: center;
}
.b-title p{
	color: #554c55;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 0;
}
.b-course-slider{
	padding: 0 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-course-item{
	display: flex !important;
	justify-content: space-between;
	align-items: flex-start;
	width: 600px;
	border: 5px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 337px;
	position: relative;
	transform: scale(0.9);
	transition: 0.3s;	
	margin: 40px 0;	
}
.b-course-item__left{
	padding: 80px 0 0 35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
}
.b-course-item__left b{
	display: block;
	color: #554c55;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	margin: 0 0 20px 0;	
}
.b-course-item__left ul{
	padding: 0;
	margin: 0 0 25px 0;
}
.b-course-item__left ul li{
	list-style: none;
	color: #554c55;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;	
	margin: 0 0 5px 0;
}
.b-course-item__left ul li:last-child{
	margin: 0;
}
.b-course-item__left ul li span{
	font-weight: 700;
}
.btn-course{
	border: 2px solid #ceb694;
    padding: 10px 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 19px;
	color: #554c55;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	text-transform: uppercase;
}
.b-course-item__img{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
.b-course-item.slick-center{
	transform: scale(1);
	transition: 0.3s;	
	box-shadow: 2.5px 1.7px 29px rgba(179, 169, 179, 0.35);	
	border: 5px solid #d4b188;
}
.b-course-item.slick-center .b-course-item__img{
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
}
.b-arrow{
	font-family: 'Roboto', sans-serif;
	color: #303030;
	font-size: 42px;
	font-weight: 100;
	line-height: 28px;
	position: absolute;
	top: 50%;
}
.b-arrow__prev{
	left: 0;
}
.b-arrow__next{
	right: 0;
}
.b-arrow:hover{
	color: #a183b7;
}
.b-course-bottom{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0 42px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    border-bottom: 1px solid rgba(209, 209, 209, 0.53);
}
.course-btn{
	background: #ceb694;
	border-radius: 28px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	padding: 16px 48px;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* -------------- b-product -------------- */
.b-product{
	padding: 0 0 90px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-product .b-title{
	margin: 0 0 55px 0;
}
.b-product-slider{
    margin: 0 1px 0 0px;
}
.b-product-item{
	position: relative;
}
.b-product-link{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: block;
}
.b-product-col{
    border-right: 1px solid rgba(135, 135, 134, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
.b-product-item__sale{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	padding: 3px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;	
	width: 37px;
	height: 24px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAYCAMAAABKpMRCAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAASFBMVEXOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpTOtpT///+hZ6KsAAAAFnRSTlMA/d66lG5S5sCadlArByrtyKJ8VzIM4yXiAAAAAAFiS0dEFwvWmI8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBBkUDjuwMrJfAAAAQElEQVQoz+3KNwIAEAwAwOiil/D/p5psBjs3H8wb8Ndfzy/GhVRaScHZcRmLzocIW0zeoTV75VJbpwFng3qrJS8yuUfluKApxAAAAABJRU5ErkJggg==');	
}
.b-product-item__img{
	height: 190px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 0 0 15px 0;
}
.b-product-item__text{
	margin: 0 0 15px 0;
	text-align: center;
}
.b-product-item__text b{
	display: block;
	color: #2f2f2f;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;	
	margin: 0 0 7px 0;
}
.b-product-item__text p{
	color: #3e3e3e;
	font-size: 13px;
	font-weight: 300;
	line-height: 15px;
	margin: 0;
}
.b-product-item__bottom{
	display: flex;
	justify-content: center;
	align-items: center;
}
.b-product-item__price{
	color: #ba9d74;
	font-size: 20px;
	font-weight: 700;
	line-height: 16px;
	display: block;
	margin: 0 10px 0 0;
}
.btn-product{
	width: 145px;
	height: 37px;
	background: #ceb694;
	border-radius: 19px;	
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}
.b-product .b-arrow{
	top: 35%;
}
.b-product .b-arrow__prev{
	left: -15px;
}
.b-product .b-arrow__next{
	right: -15px;
}

/* -------------- b-footer -------------- */
.b-footer{
	background: url(../images/footer-bg.jpg) center top no-repeat;
	background-size: cover;
}
.b-footer-content{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.b-footer-left{
	width: 50%;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 65px 85px 65px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-footer-left:before{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(207, 179, 145, 0.86);
}
.b-footer-left__wrap{
	position: relative;
	z-index: 2;
}
.b-footer-left__wrap{

}
.b-footer-top{
	margin: 0 0 65px 0;
}
.b-footer-logo{
	margin: 0 0 35px 0;
}
.b-footer-top p{
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	max-width: 439px;
}
.b-footer-wrap{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.b-footer-contacts{

}
.b-footer-item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 30px 0;
}
.b-footer-item:last-child{
	margin: 0;
}
.b-footer-item__ico{
	width: 21px;
	flex-shrink: 0;
	margin: 0 15px 0 0;
}
.b-footer-item__text{

}
.b-footer-item__text span{
	display: block;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;	
}
.b-footer-item__text a{
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;	
}
.b-footer-list{
	padding: 10px 0 10px 85px;
	margin: 0 0 0 85px;
    border-left: 1px solid rgba(255, 255, 255, 0.28);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-footer-list ul{
	padding: 0;
	margin: 0;
}
.b-footer-list ul li{
	list-style: none;
	margin: 0 0 24px 0;
}
.b-footer-list ul li:last-child{
	margin: 0;
}
.b-footer-list ul li a{
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-decoration: none;
}
.b-footer-list ul li a:before{
	content: "›";
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;	
	margin: -4px 20px 0 0;
}
.b-footer-bottom{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 70px 0 0 0;
}
.b-copyright{
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	margin: 0 70px 0 0;
}
.b-footer-social{

}
.b-footer-social ul{
	padding: 0;
	margin:0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-footer-social ul li{
	list-style: none;
	margin: 0 23px 0 0;
}
.b-footer-social ul li:last-child{
	margin: 0;
}
.b-footer-social ul li a{
	width: 22px;
	display: block;
}




.b-footer-right{
	position: relative;
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0 0 67px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-footer-right:before{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(85, 76, 85, 0.84);	
}
.b-footer-right__wrap{
	position: relative;
	z-index: 2;
}


.b-form{
	max-width: 510px;
}
.b-form-title{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 25px 0;
}
.b-form-title__ico{
	background: url(../images/b-form-title__ico.png) center no-repeat;
	width: 54px;
	height: 54px;
	flex-shrink: 0;
	margin: 0 25px 0 0;
}
.b-form-title span{
	color: #ffffff;
	font-size: 28px;
	font-weight: 400;
	line-height: 30px;
}

.b-footer-input{
	width: 100%;
	height: 45px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	padding: 0 0 0 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	margin: 0 0 10px 0;
}
.b-footer-input__name{
	background: transparent url(../images/user-ico.png) no-repeat;
	background-position: left 6px center;
}
.b-footer-input__phone{
	background: transparent url(../images/phone-ico.png) no-repeat;
	background-position: left 6px center;
}
.b-footer-input__textarea{
	background: transparent url(../images/mail-ico.png) no-repeat;
	background-position: left 6px top 13px;
	height: 110px;
	padding: 15px 0 0 30px;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.b-footer-input::-webkit-input-placeholder{
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}
.b-footer-input:-moz-placeholder{
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}
.b-form-bottom{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-footer-btn{
    padding: 15px 42px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #cfb594;
	border-radius: 25px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	margin: 0 22px 0 0;
	display: block;
	flex-shrink: 0;
}
.b-checkbox{
    display: block;
}
.b-checkbox input[type="checkbox"]{
    display: none;
}
.b-checkbox input[type="checkbox"] + label span{
	display: block;
	width: 11px;
	height: 11px;
	border: 1px solid #ffffff;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 2px 8px 0 0;
}
.b-checkbox input[type="checkbox"] + label{
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.b-checkbox input[type="checkbox"]:checked + label span{
	display: block;
	width: 11px;
	height: 11px;
	border: 1px solid #ffffff;
	background: url(../images/check2.png) center no-repeat transparent;
	background-size: 7px;
}
.b-checkbox input[type="checkbox"]:checked + label{
    color: #000000;
}
.b-checkbox input[type="checkbox"] + label i{
	color: #ffffff;
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
    font-style: normal;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.b-form p{
	color: #ffffff;
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
	margin: 10px 0 0 0;
}
.b-map{
	position: relative;
	margin: 21px 0 0 0;
}
.b-map:before{
	position: absolute;
	top: -16px;
	left: 110px;
	content: "";
	background: url(../images/map-ico.png) no-repeat;
	width: 59px;
	height: 83px;
}
.b-map-text{
	position: absolute;
	top: 26px;
	right: 29px;
	background-color: rgba(59, 61, 64, 0.71);
	border-radius: 15px;	
    padding: 25px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 218px;
}
.b-map-text span{
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}